{:hara/type :project
 :hara/version "1.0.0"
 :project/id greenways.beacon/service
 :project/version "0.1.0"
 :project/source-paths ["src"]
 :project/test-paths []
 :project/extension-paths []
 :project/capabilities #{:host/nginx}
 :project/main gw.beacon
 :project/default-profile :server
 :project/profiles
 {:server
  {:profile/language :hoplite
   :profile/main gw.beacon/app
   :profile/options {:port 58100
                     :workers 1}}}}
